<style>
  
  .db_rec label {font-weight:bold;}
  .db_rec input  {text-align: left;}
  .db_rec textarea {text-align: left; height:150px; width:680px}
  
</style>
 <script>
     require(["/static/js/feedstrap/utils.js"], function(utils) {
        enableAutoComplete('#tags', all_tags.getData() );
     });
</script>

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 id="myModalLabel" style="margin-bottom: 0px"><a href="{{ rec.link }}" target="_blank">{{ rec.title }}</a></h4>
    <div style="text-align: right">
    added {{ rec.date |date:'d b y' | title }} by 
    {% for feed in rec.feeds.all %}

    {% ifequal feed rec.feeds.all|first %}{% else %}, {% endifequal %}
        {% if feed.user.first_name %}
            {{ feed.user.first_name }}
        {% else %}
            {{ feed.name }}
        {% endif %}
    {% endfor %}
                    
    </div>
</div>

<div class="modal-body">
    <form id="popup_form" class="db_rec" action="a/edit/resource" method="POST">
        {% include "main/forms/resource.html" %}
    </form>
</div>

<div class="modal-footer">
    <span style="float:left"><a href="#" class="delete" data-l="{{ rec.link }}" data-k="{{ rec.pk }}"><i class="icon-trash"></i></a></span>
    <button id="save_btn" class="btn">Save</button>
    <div id="save_status" style="text-align:right"></div>
</div>
