{% extends "main/base.html" %}
{% block head %}
{{ block.super }}
<style>
  .db_rec label {font-weight:bold;}
  .tarea {text-align: left; width:95%}
  body {padding-top: 0 !important;
        background-color: #f5f5f5;}
</style>

 <script>
     
     require(["/static/js/feedstrap/utils.js"], function(utils) {
        var all_tags = [{% for t in all_tags %}{% ifequal t all_tags|first %}{% else %}, {% endifequal %}"{{ t }}"{% endfor %}];
        enableAutoComplete('#tags', all_tags );
     });
</script>
{% endblock %}

{% block content_box %}
    <div class="row-fluid" style="margin-top: 2em">
        <div class="offset3 span6">
            <h3><a href="/">FeedStrap - Post It</a></h3>
            <form id="postit" class="db_rec form-postit" action="add_new" method="POST">
                {% include "main/forms/resource.html" %}
                   <br>
                   <br>
                <div class="row-fluid">
                    <div class="span12" style="text-align:right;">
                       <span class="btn save">Save</span>  <span class="btn save closetab">Save and Close</span> 
                    </div>
                </div>


            </form>

    </div>
</div>

{% endblock %}
