<input id="csrf" type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}"/>

{% if rec.pk %}<input type="hidden" name="pk" value="{{ rec.pk }}" />{% endif %}

{% if postit %}
<label for="link">Link:</label> <input id="link" name="link" type="text" class="input-xxlarge" value="{{ rec.link }}"></input>
{% endif %}

<label for="title">Title:</label> <input id="title" name="title" type="text" class="input-xxlarge" value="{{ rec.title }}"></input><br>

<label for="description">Description:</label><textarea style="min-height: 50px" id="description" name="description">{% if rec.description %}{{ rec.description }}{%  endif  %}</textarea>

<label for="relevance">Relevance:</label><textarea style="min-height: 50px" id="relevance" name="relevance">{% if rec.relevance %}{{ rec.relevance  }}{%  endif  %}</textarea>

<div>
    <div style="float: right; text-align: left; margin-right: 10%;">
        <label for="tags">Tags:</label>
        <input id="tags" name="tags" type="text" class="input-xlarge"  class="ui-autocomplete2 tag_selector"
              {% if not postit %}
               {% if rec.tags.all %}value="{% for t in rec.tags.all|dictsort:"name" %}{% ifequal t rec.tags.all|dictsort:"name"|first %}{% else %}, {% endifequal %}{{ t.name }}{% endfor %}"{% endif %}>
              {% endif %}
        </input>
    </div>
    <label for="topics">ESIL:</label>
    <select multiple="multiple" id="topics" name="topics">
        <option value=""></option>
        {% for t in topics|dictsort:"name" %}
            <option value="{{ t.pk }}"
                    {% if not postit %}
                        {% if t in rec.topics.all %} selected="selected"{% endif %}
                    {% endif %}>
                {{ t.name }}
            </option>
        {% endfor %}
    </select>
</div>

<table style="width:90%">
    <tr style="text-align:right">
        <td style="text-align:left">
        {% if not postit %}
            <a href="/admin/feedstrap/resource/{{ rec.pk }}/">more...</a></td>
        {% endif %}
        <td stlye="margin-right:2em; width:95%">
            {% for rpt in reports %}
                {% if not rpt.hidden %}<span>{{ rpt.name }} Report?{% else %}<span style="display:none"> {% endif %} <input name="reports" value="{{ rpt.pk }}" type='checkbox'
                        {% if not postit %}
                                {% if rpt in rec.reports.all %} checked{% endif %}
                        {% else %}
                            {% if rpt in feed.reports.all %} checked{% endif %}
                        {% endif %}></span><br>
            {% endfor %}
        </td>
    </tr>
</table>
