{% extends "/main/home.html" %}
{% block head %}
{{ super() }}
<style>
th {
    cursor: pointer; 
    font-weight: bold; 
    background-image: url(/static/img/bg.gif); 
    background-repeat: no-repeat; 
    background-position: right; 
}
.headerSortUp { 
    background-image: url(/static/img/desc.gif); 

} 

.headerSortDown { 
    background-image: url(/static/img/asc.gif); 
} 
</style>
{% endblock %}
{% block content_header %}{% endblock %}
{% block title %}Emerging Strategic Issues List{% endblock %}
{% block content_view %}
{% include '/main/esil/table.html' %}
{% endblock %}
