

  <div>
    <div style="text-align:center">
      <h3>Emerging Strategic Issues List</h3>
      <table id="esil" class="tablesorter table table-hover">
        <thead> 
              <tr>
                <th class="headerSortDown eh" style="width:129px">Name</th>
                <th class="eh" style="width:280px">Description</th>
                <th class="eh critera_header"><span style="padding-right:8px"><abbr title="Intensity represents the frequency an issue." class="initialism">Intensity</abbr></span></th>
                <th class="eh critera_header"><span style="padding-right:8px"><abbr title="Relevance represents the topics resonance with current VA strategic ideas.  If the topic can help illustrate Strategic Imperatives, the Relevance will be high." class="initialism">Relevance</abbr></span></th>
                <th class="eh critera_header"><span style="padding-right:8px"><abbr title="Impact represents the topics potential to effect VA capabilities.  Each topic is cross walked against the VA capabilities, then given a score.  Topics that involve many different VA capabilities will have a high score." class="initialism">Impact</abbr></span></th>
                <th class="eh critera_header"><span style="padding-right:8px"># Comments</span></th>
                <th class="eh critera_header"><span style="padding-right:8px"># Links</span></th>
                <th class="eh critera_header"><span style="padding-right:8px">Attachement</span></th>

            </tr>
        </thead>
        <tbody>
        {% load comments %}
        {% load comments_xtd %}

          {% for topic in topics %}
        <tr data-k="{{ topic.pk }}" data-site="{{ site }}" class="topic_row">
          <td class="rpoint">{{ topic.name }}</td>
          <td id="des_{{ topic.pk }}" class="rpoint">{{ topic.description|slice:":100" }}
          <span class="show_des javascript_link" data-parent="des_{{ topic.pk }}" data-full="{{ topic.description }}"><em> (expand...)</em></span></td>
          {% autoescape off %}
          <td class="rpoint" style="text-align:center">{{ topic.intensity }}</td>
          <td class="rpoint" style="text-align:center">{{ topic.relevance }}</td>
          <td class="rpoint" style="text-align:center">{{ topic.impact }}</td>
          {% endautoescape %}
          <td class="rpoint esil_count" style="">
              {% get_comment_count for topic as comment_count %}
              {{ comment_count }}
          </td>
          <td class="rpoint esil_count" style="">{{ topic.link_count }} </td>
          <td class="rpoint" style="text-align:center; vertical-align:top; line-height: .5em"> {% if topic.attachment %}<br><span style="color:white">1</span><a href="{{ topic.attachment.url }}"><img src="/static/img/icons/glyphicons_062_paperclip.png"></img></a>{% endif %}</td>
        </tr>
          {% endfor %}        
       </tbody>
      </table>
      
    </div>
  </div>