{% extends "main/home.html" %}

{% block title %}{{ topic.name }}{% endblock %}
{% block content_box %}
<div class="container" style="margin-bottom:100px;">
    <div class="row">
        <div class="span12"> 
            <div style="float:left; width:50%">
                <a class="btn" href="/esil"><i class="icon-list"></i> Back to Emerging Strategic Issues List</a>
            </div> 
            <div style="float:right; width:50%; text-align:right">  
                <a class="btn" href="/admin/feedstrap/topic/{{ topic.pk }}/"><i class="icon-edit"></i> Edit</a>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="span12" style="margin-top:20px"> 
            <h1><em>{{ topic.name }}</em></h1>
            <p><strong>Description:</strong><br>{{ topic.description }}
            {% if topic.attachment %}
            <br>
            <strong>Final Paper:</strong><a href="{{ topic.attachment.url }}"> 
                {{ topic.attachment.name }}</a>
            <br>
            {% endif %}
            </p>
        </div>
    </div>
    
    <div class="row" style="margin-bottom:20px">
        <div class="span12"> 
            <table class="table table-bordered">
                <thead>
                    <tr><th style="text-align:center">Intensity</th>
                    <th style="text-align:center">Relevance</th>
                    <th style="text-align:center">Impact</th></tr>
                </thead>
                <tbody>
                {% autoescape off %}
                    <tr><td style="text-align:center">{{ topic.intensity }}</td>
                    <td style="text-align:center">{{ topic.relevance }}</td>
                    <td style="text-align:center">{{ topic.impact }}</td></tr>
                {% endautoescape %}
                </tbody>
            </table>
        </div>
    </div> 
    
    
    <div class="row">
        <div class="span6" style="margin-top:20px"> 
            <h4>Strategic Imperatives</h4>
            <p>
                <ul class="unstyled">
                    {% regroup imperatives by category as imperatives_list %}
                    {% for category in imperatives_list %}
                        <li><strong>{{ category.grouper }}</strong>
                            <ul>
                            {% for item in category.list %}
                                    <li>{{ item.name }}</li>
                            {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                </ul>
            </p>
        </div>
        <div class="span6" style="margin-top:20px"> 
            <h4>VA Capabilities</h4>
            <p>
                <ul class="unstyled">
                    {% regroup capabilities by category as capabilities_list %}
                    {% for category in capabilities_list %}
                        <li><strong>{{ category.grouper }}</strong>
                            <ul>
                            {% for item in category.list %}
                                    <li>{{ item.name }}</li>
                            {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                </ul>
            </p>
        </div>
    </div>
    
    <div class="row">
        <div class="span12" style="margin-top:20px"> 
            <h4>Links:</h4>  
            {% for i in resources %}
                <div id="ar_{{ i.pk }}" class="feed_item">
                {% include '/main/list_view_article.html' %}
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

