{% extends "main/home.html" %}

{% block title %}{{ topic.name }}{% endblock %}
{% block content_box %}
<div class="container" style="margin-bottom:100px;">
    <div class="row">
        <div class="span12"> 
            <div style="float:left; width:50%">
                <a class="btn" href="/esil"><i class="icon-list"></i> Back to Emerging Strategic Issues List</a>
            </div> 
            <div style="float:right; width:50%; text-align:right">  
                <a class="btn" href="/admin/feedstrap/topic/{{ topic.pk }}/"><i class="icon-edit"></i> Edit</a>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="span12" style="margin-top:20px"> 
            <h1><em>{{ topic.name }}</em></h1>
            <div><strong>Description:</strong><br>{{ topic.description|linebreaks }}
            {% if topic.attachment %}
            <p>
            <strong>Final Paper:</strong><a href="{{ topic.attachment.url }}"> 
                {{ topic.attachment.name }}</a>
            </p>
            {% endif %}
            </div>
        </div>
    </div>
    
    <div class="row" style="margin-bottom:20px">
        <div class="span12"> 
            <table class="table table-bordered">
                <thead>
                    <tr><th style="text-align:center">Intensity</th>
                    <th style="text-align:center">Relevance</th>
                    <th style="text-align:center">Impact</th></tr>
                </thead>
                <tbody>
                {% autoescape off %}
                    <tr><td style="text-align:center">{{ topic.intensity }}</td>
                    <td style="text-align:center">{{ topic.relevance }}</td>
                    <td style="text-align:center">{{ topic.impact }}</td></tr>
                {% endautoescape %}
                </tbody>
            </table>
        </div>
    </div> 
    
    
    <div class="row">
        <div class="span6" style="margin-top:20px"> 
            <h4>Strategic Imperatives</h4>
            <p>
                <ul class="unstyled">
                    {% regroup imperatives by category as imperatives_list %}
                    {% for category in imperatives_list %}
                        <li><strong>{{ category.grouper }}</strong>
                            <ul>
                            {% for item in category.list %}
                                    <li>{{ item.name }}</li>
                            {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                </ul>
            </p>
        </div>
        <div class="span6" style="margin-top:20px"> 
            <h4>VA Capabilities</h4>
            <p>
                <ul class="unstyled">
                    {% regroup capabilities by category as capabilities_list %}
                    {% for category in capabilities_list %}
                        <li><strong>{{ category.grouper }}</strong>
                            <ul>
                            {% for item in category.list %}
                                    <li>{{ item.name }}</li>
                            {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                </ul>
            </p>
        </div>
    </div>
    
    <div class="row">
        <div class="span12" style="margin-top:20px">

           <div class="row" style="width: 95%">
               <div class="span8">
                   <h4>Comment:</h4>
                   {% load comments %}
                   {% load comments_xtd %}
                   <div style="display: none;">{% render_comment_form for topic %}</div>

                   <div class="comment_mini_form">
                        <p><em>You are logged in as {{ user.username }}...</em></p>
                        <textarea id="nc0" style="width: 98%"></textarea>
                       <div style="text-align: right; width: 100%">
                        <button type="button" class="btn btn-small post_comment" data-reply_to="{% if reply_to %}{{ reply_to }}{% elif comment.id %}{{ comment.id }}{% else %}0{% endif %}">POST</button>
                       </div>
                   </div>
                   <hr>
                   <div id="comment_list">
                       {% render_comment_list for topic %}
                   </div>

               </div>
           </div>

        </div>
    </div>

    <div class="row">
        <div class="span12" style="margin-top:20px">
            <h4>Links:</h4>
            {% for i in resources %}
                <div id="ar_{{ i.pk }}" class="feed_item">
                {% include 'main/list_view_article.html' %}
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

