{% extends "/templates/main/base.html" %}

{% block content_box %}

    {% block modal %}
    <div id="modal_content" class="modal hide fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false" style="display: none;">    
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Database Viewer</h3>
        </div>   
        <div class="modal-body">    
        </div>
        <div class="modal-footer">
            <input class="btn" value="something" aria-hidden="true" />
        </div>
    </div> 
    {% endblock %}  

    {% block modal_column_resize %}
    <div id="modal_column_resize" class="modal hide fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false" style="display: none;">    
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3>Default Column Widths</h3>
        </div>   
        <div class="modal-body">  
                <table class="table table-bordered" style="margin-bottom:0; width:100%">
                      <thead id="results_table_head">
                            <tr id="sample_row" style="background:white;">
                            {% for f in default_fields %}
                              <th id="{{ f[0] }}_header" class="table_col" >{{ f[0].title() }}</th>
                            {% endfor %}
                            </tr>
                      </thead>
                </table>
            </div>    
        <div class="modal-footer">
            <button id="resize_save" class="btn">Save</button>
        </div>
    </div> 
    {% endblock %} 
       
    {% block content_header %}

            <div id="header_bar" class="row">
                <div class="span6">
                {% if term != "" %}{{ result_count }} Results{% else %}{{ result_count }} * Total Records *{% endif %}<br>
                <a href="/?view=list&qt={{ query_type }}&term={{ term }}" class="view_btn btn {% if view == 'list' %}disabled{% endif %}"><i class="icon-align-left"></i></a>
                <a href="/?view=table&qt={{ query_type }}&term={{ term }}" class="view_btn btn {% if view == 'table' %}disabled{% endif %}"><i class="icon-th"></i></a>

                </div>
                
                <div id="view_options" class="span6">

                    {% if view == 'table' %}

                     {% endif %}
                    
                </div>
            </div>

     {% endblock %}
    
    
    {% block content_view %}
    <div id="content_view" class="container">
    {% if view == 'list'%}
    {% include '/templates/main/list_view.html' %}
    {% endif %}

    {% if view == 'table'%}
    {% include '/templates/main/table_view.html' %}
    {% endif %}
    </div>
    {% endblock %}

    
    
{% endblock %} 