{% block content_view %} 
    

    {% for i in results %}
        <div class="row feed_item" id="{{ i.key() }}">
            <div class="span11">
                <article class="ar">
                    <header>
                        <h3 style="margin:0px">
                            <a href="{{ i.link }}" target="_blank">{{ i.title }}</a> 
                        </h3>
                    </header>

                    <section class="ar_clip">               

                           <p>{% if i.description %} Description: {{ i.description }}{% endif %}
                           {% if i.relevance %} <br>Relevance: {{ i.relevance }}{% endif %} 
                            </p>
                    </section>
                    <section class="ar_details">
                        {{i.date.strftime('%d %b %y') }}
                        {% if i.posted_by %}<span class="spacer">|</span>posted by {{ i.posted_by }}{% endif %}
                        {% if i.tags %}<span class="spacer">|</span><i class="icon-tag"></i> {{ ", ".join(i.tags) }}{% endif %}
                              <span class="ar_tools" id="article_tools_{{ i.key() }}">
                                <a class="db_view" data-target="#modal_content" data-toggle="modal" href="#" data-dbk="{{ i.key() }}">
                                    <i class="icon-edit"></i>
                                </a>
                            </span>

                    </section>
                </article>
            </div>
            
            <div class="span1"></div>
        </div>
    {% endfor %}

        <div class="row span12" style="text-align:center;">
            {% if next_cursor %} 
            <button class="btn btn-primary show_more" data-view="list" data-query="/?qt={{ query_type }}&view=list&term={{ term }}&c={{ next_cursor }}"> Show More </button> 
            {% else %} 
            <strong>------ END -----</strong> {% endif %}
        </div>

    
{% endblock %}