
    <ul id="sidebar" class="nav nav-list well hidden-phone">
        <li class="nav-header">Feeds</li>
        {% for fn in feed_navs %}
        <li {% if not nav %}{% if get_query == fn.parameters  %}class="active"{% endif %}{% endif %}>
            <a href="/?{{ fn.parameters }}">
               {{ fn.name }}
            </a>
        </li>
        {% endfor %}

        {% for ufn in user_feed_navs %}
                <li {% if not nav %}{% if get_query == ufn.parameters  %}class="active"{% endif %}{% endif %}>
                    <a href="/?{{ ufn.parameters }}" class="sidebar_link" data-x=".slx{{ forloop.counter }}">
                        {{ ufn.name }}
                        <span class="save_link slx slx{{ forloop.counter }}" data-target="#save_link_modal" data-active-params="{{ ufn.parameters }}" data-pk="{{ ufn.pk }}" data-name="{{ ufn.name }}" data-toggle="modal" href="#"><i class="icon-edit"></i></span>
                    </a>
                </li>
        {% endfor %}

        <li class="nav-header">Tools</li>
        <li {% if nav == 'esil' %}class="active"{% endif %}>
            <a href="/esil">
               ESIL
            </a>
        </li>
        <li {% if advanced_search == True %}class="active"{% endif %}>
            <a id="as_toggle" data-target="#advanced_search_modal" data-toggle="modal" href="#">
                Advanced Search
            </a>
        </li>
        <li class="nav-header">Account</li>
    {% if auth %}
        <li {% if nav == 'info' %}class="active"{% endif %}><a href="/account/info">Info</a></li>
        <li><a href="/signout">Sign Out</a></li>
    {% else %}
        <li><a href="/signin">Sign In</a></li>
    {% endif %}

    </ul>














