{% block content_view %}
    {% include '/templates/main/form_bulk.html' %}

    <div class="row-fluid">
        <div id="content_view">
        
        <style>
            .db_view:hover {cursor:pointer;}
            .show_more_row:hover {background:white}
        </style>
        
    
        
        <div id="table_header_div">
            <div id="hdr_inner" class="container" style="background-color:white">
                <table class="table table-bordered" style="margin-bottom:0">
                      <thead id="results_table_head">
                            <tr style="background:white">
                            {% for f in default_fields %}
                              <th style="width:{{ f[1] }}">{{ f[0].title() }}</th>
                            {% endfor %}
                            </tr>
                      </thead>
                </table>
            </div>
        </div>

        <table class="table table-bordered">
          <tbody id="results_table_body">  
          
                {% block inner_table %}
                {% endblock %}   
                
          </tbody>
        </table>

        </div>
    </div>
{% endblock %}

