{% if comment.id %}<div id="cform{{ comment.id }}" class="comment_mini_form" style="text-align: right;display: none;">
{% else %}<div style="text-align: right">
{% endif %}
    <div {% if comment.id %}style="margin-left:{{ comment.level|add:"1" }}00px;"{% endif %}>
        <textarea id="nc{% if comment.id %}{{ comment.id }}{% else %}0{% endif %}" style="width: 98%;"></textarea>
        <table style="width: 100%; margin-bottom: 1em;">
            <tr>
                <td style="text-align: left; line-height: .5em; vertical-align: top">
                    <input id="subscribe{% if comment.id %}{{ comment.id }}{% else %}0{% endif %}" type="checkbox" style="margin: 0 5px 5px 0 !important;">recieve replies via email
                </td>
                <td style="text-align: right">
                    <button type="button" class="btn btn-small post_comment" data-reply_to="{% if reply_to %}{{ reply_to }}{% elif comment.id %}{{ comment.id }}{% else %}0{% endif %}">POST</button>
                </td>
            </tr>
        </table>
    </div>
</div>