<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <meta charset="UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link href="/rss?{{ get_query }}" type="application/rss+xml" rel="alternate" title="Feedstrap RSS" />

            <!-- jquery ui css -->
            <link href="/static/css/jquery-ui.css" rel="stylesheet" type="text/css" />
            <!-- twitter bootstrap css -->
            <link href="/static/css/bootstrap.css" rel="stylesheet">
            <link href="/static/css/bootstrap-responsive.css" rel="stylesheet">
            <!-- my css -->
            <link href="/static/css/main.css" rel="stylesheet" >



            <script src="/static/js/require.js"></script>
            <!-- jquery -->
            <script src="/static/js/jquery.min.js"></script>
            <script src="/static/js/jquery-ui.js"></script>
            <script type="text/javascript" src="/static/js/jquery.tablesorter.js"></script>

            <!-- twitter bootstrap js -->
            <script src="/static/js/bootstrap.min.js"></script>

            <!-- my js -->
            {% block feedstrapjs %}
                <script type="text/javascript" rel="js" src="/static/js/feedstrap/main.js"></script>
                <script type="text/javascript" rel="js" src="/static/js/feedstrap/feed.js"></script>
                <script type="text/javascript" rel="js" src="/static/js/feedstrap/postit.js"></script>
                <script type="text/javascript" rel="js" src="/static/js/feedstrap/sidebar.js"></script>
                <script type="text/javascript" rel="js" src="/static/js/feedstrap/esil.js"></script>
                <script type="text/javascript" rel="js" src="/static/js/feedstrap/comments.js"></script>
                <script type="text/javascript" rel="js" src="/static/js/feedstrap/advancedfilter.js"></script>
            {% endblock %}

            {% block google_analytics %}
                <script type="text/javascript" rel="js" src="/static/js/resources/google_analytics.js"></script>
            {% endblock %}

            <title>{% block title %}FeedStrap{% endblock %}</title>
        {% endblock %}
    </head>
    <body>
        {% block modal %}{% endblock %}

        <div class="container-fluid">

            {% block content_box %}
            {% endblock %}

        </div>
    </body>

</html>
