{% extends "/main/base.html" %}

{% block content_box %}

    {% block modal %}
    <div id="modal_content" class="modal hide fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false" style="display: none;">    
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Database Viewer</h3>
        </div>   
        <div class="modal-body">    
        </div>
        <div class="modal-footer">
            <input class="btn" value="something" aria-hidden="true" />
        </div>
    </div> 
    {% endblock %}  

       

    
    

    <div id="content_view" class="container">
        {% block content_header %}

            <div class="row">
                <div class="span6">
                    <div></div>
                </div>
                <div class="span6" style="text-align: right">
                    <div class="btn-group">
                        <button class="btn btn-small dropdown-toggle" data-toggle="dropdown">
                            <i class="icon-share"></i>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="/export/weekly_reads"><i class="icon-file"></i> Weekly Reads Format</a></li>
                        </ul>
                    </div>
                </div>
            </div>

        {% endblock %}

        {% block content_view %}
        {% include '/main/list_view.html' %}
        {% endblock %}
    </div>


    
    
{% endblock %} 