{% extends "/main/base.html" %}

{% block content_box %}

    <!-- navbar-->

    <div id="my_nav" class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a class="brand" href="/">SSG Database</a>

                <form action="/q" class="navbar-form pull-right">
                    <input type="text" class="span2" name="term"{% if term %}value="{{ term }}"{% endif %}>
                    <button type="submit" class="btn">Search</button>
                </form>
            </div>
        </div>
    </div>

    {% block modal %}
    <div id="modal_content" class="modal hide fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false" style="display: none;">    
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Hello</h3>
        </div>   
        <div class="modal-body">    
        </div>
        <div class="modal-footer">
            <input class="btn" value="something" aria-hidden="true" />
        </div>
    </div> 
    {% endblock %}  
    
    {% block content_header %}
    <div id="content_header" class="row-fluid">
        <div class="span2">
{#          <div>{% if term %}<span style="line-height:4em" class="label label-info"><button type="button">×</button> term: {{ term }}</span>{% endif %}</div>#}
        </div>
        
        <div class="span10" style="text-align: right">
            <div class="btn-group">
                <button class="btn btn-small dropdown-toggle" data-toggle="dropdown">
                    <i class="icon-share"></i>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="/export/weekly_reads"><i class="icon-file"></i> Weekly Reads Format</a></li>
                </ul>
            </div>
        </div>
    </div>
    {% endblock %}
        
        
    <div class="row-fluid">
        <div class="span2">
            {% block sidebar %}
                {% include '/main/sidebar.html' %}
            {% endblock %}
        </div>
        
        <div id="content_view" class="span10">
            {% block content_view %}
                {% include '/main/list_view.html' %}
            {% endblock %}
        </div>
    </div>



    
    
{% endblock %} 