{% extends "/main/base.html" %}
{% block modal %}
<div id="modal_content" class="modal hide fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false" style="display: none;">   
<div class="container-fluid">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Hello</h3>
    </div>   
    <div class="modal-body">    
    </div>
    <div class="modal-footer">
        <input class="btn" value="something" aria-hidden="true" />
    </div>
</div>
</div> 
{% endblock %}  
{% block content_box %}

    <!-- navbar-->

    <div id="my_nav" class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a class="brand" href="/">FeedStrap</a>


                <ul class="nav hidden-phone">
                    {% for sp in static_pages %}
                    <li><a href="/{{ sp.slug }}">{{ sp.name }}</a></li>
                    {% endfor %}
                    <li><a href="/admin/">Admin</a></li>
                </ul>

                {% if solr_enabled == True %}
                <form action="/q" class="navbar-form pull-right hidden-phone">
                    <input type="text" class="span2" name="term"{% if term %}value="{{ term }}"{% endif %}>
                    <button type="submit" class="btn">Search</button>
                </form>
                {% endif %}

            </div>
        </div>
    </div>


{% block full_content %}

    <div id="content_header" class="row-fluid">
        
        <div class="span10 offset2" >
        {% if peram_count != 0 %}
        {% block content_header %}
                <div style="float: left; margin-top: .6em">
                {% for t in filter_tags %}
                    <span class="filter_tag" style="{{ t.css }}">{{ t.name }}<a class="xtag" href="{{ t.link }}">×</a></span>
                {% endfor %}
                </div>
                <div class="hidden-phone" style="float: right;">
                    <div class="btn-group">
                      <a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-share"></i> Export this Feed </a>
                      <ul class="dropdown-menu pull-right" style="text-align:left">
                        {% if admin %}
                        <li><a href="/weeklyreads/export_to_word/?{{ get_query }}"><i class="icon-file"></i> Weekly Reads Format</a></li>
                        {% endif %}
                        <li><a href="/csv?{{ get_query }}"><i class="icon-file"></i> CSV Format</a></li>
                        <li><a href="/rss?{{ get_query }}"><img style="margin-right: 3px" width="10px" src="/static/img/icons/glyphicons_417_rss.png"></i>  Subscribe to RSS</a></li>
                      </ul>
                    </div>
                </div>
        {% endblock %}
        {% endif %}
        </div>



    </div>
        
    <div class="row-fluid">
        <div id="sidebar_zone" class="span2">
            {% block sidebar %}
                {% include '/main/sidebar.html' %}
            {% endblock %}
        </div>
        <div id="article_list_zone" class="span10">
            <div id="content_view">
                {% block content_view %}
                    {% include '/main/list_view.html' %}
                {% endblock %}
            </div>
        </div>
    </div>
    
{% endblock %}


    
    
{% endblock %} 
