{% for i in results %}
        <div id="ar_{{ i.pk }}" class="row feed_item">
            <div class="span12 ar">
                    <article>
                        <section class="ar_inner ar_clip">
                            <h4>
                                <a href="{{ i.link }}" target="_blank">{{ i.title }}</a>
                            </h4>
                                   {% if i.description %}<p> Description: {{ i.description }}</p>{% endif %}
                                   {% if i.relevance %} <p>Relevance: {{ i.relevance }}</p>{% endif %}

                        </section>


                        <section class="ar_details">

                            <section style="float: left">
                                <em>
                                {{i.date.strftime('%d %b %y') }}
                                <span class="spacer">|</span>posted by {% for feed in i.feeds.all() %}{{ feed.owner }} {% endfor %}
                                {% if i.tags.all() %}</em>

                                    <span class="spacer">|</span>{% for tag in i.tags.all() %}<a href="#">{{ tag.name }}</a>{% endfor %}{% endif %}

                            </section>

                            <section style="float: right;">
                                <span class="ar_tools" id="article_tools_{{ i.pk }}">
                                    <a class="db_view" data-target="#modal_content" data-toggle="modal" href="#" data-dbk="{{ i.pk }}">
                                        <i class="icon-edit"></i>
                                    </a>
                                </span>
                            </section>

                        </section>
                    </article>

            </div>
        </div>
    {% endfor %}

        <div class="row span12" style="text-align:center;">
            {% if next_cursor %} 
            <button class="btn btn-primary show_more" data-view="list" data-query="/?qt={{ query_type }}&view=list&term={{ term }}&c={{ next_cursor }}"> Show More </button> 
            {% else %} 
            <strong>------ END -----</strong> {% endif %}
        </div>