<div class="ar">
    <article>
        <section class="ar_inner ar_clip">
            <h4>
                <a href="{{ i.link }}" target="_blank">{{ i.title }}</a>
            </h4>
        {% if search_snippets %}
            <p class="ar_snippet">
            {% for snip in search_snippets[i.pk]['content'] %}...{{ snip }}...{% endfor %}
            </p>
        {% else %}
            {% if i.description %}<p> Description: {{ i.description }}</p>{% endif %}
            {% if i.relevance %} <p>Relevance: {{ i.relevance }}</p>{% endif %}
        {% endif %}
        </section>


        <section class="ar_details">

            <em>{{i.date.strftime('%d %b %y') }}</em>
            <span class="spacer">|</span><em>posted by {% for feed in i.feeds.all() %}{% if loop.index > 1 %}, {% endif %}<a href="/q?person={{ feed.owner|e }}">{{ feed.owner }}</a>{% endfor %}</em>
            {% if i.tags.all() %}
                {% for tag in i.tags.all() %}{% if loop.index > 1 %}, {% else %}<span class="spacer">|</span>{% endif %}<a href="/q?tags={{ tag.name|e }}">{{ tag.name }}</a>{% endfor %}
            {% endif %}
            {% if i.reports.all() %}
                {% for report in i.reports.all() %}{% if report.name == 'Weekly Reads' %}<span class="spacer">|</span><a href="/q?report={{ report.name|e }}" class="label label-info">WR</a>{% endif %}{% endfor %}
            {% endif %}

        <section class="ar_tools" id="article_tools_{{ i.pk }}">
            <a class="modal_view" data-target="#modal_content" data-toggle="modal" href="#" data-dbk="{{ i.pk }}" data-url="/edit/resource/">
                <i class="icon-edit"></i>
            </a>
        </section>

        </section>




    </article>

</div>