<div class="ar">
    <article>
        <section class="ar_inner ar_clip">
            <h4>
                <a href="{{ i.link }}" target="_blank">{{ i.title }}</a>
            </h4>
                <div  style="margin-left: 1em; margin-right: 2em; font-size: 16px">
                {% if i.snippets %}
                    <p class="ar_snippet">
                    {% autoescape off %}
                    {{ i.snippets }}
                    {% endautoescape %}
                    </p>
                {% else %}
                    {% if i.description %}<p> Description: {{ i.description }}</p>{% endif %}
                    {% if i.relevance %} <p>Relevance: {{ i.relevance }}</p>{% endif %}
                {% endif %}
                </div>
        </section>

        <section class="ar_details">

            <em>{{i.date| date:'d b y'|title }}</em>
            {% if i.feeds.all %}<span class="spacer">|</span> posted by 
                {% for feed in i.feeds.all %}
                    {% ifequal feed i.feeds.all|first %}{% else %}, {% endifequal %}
                    {% if feed.user.first_name %}
                        <a href="/q?person={{ feed.user.first_name }}">{{ feed.user.first_name }}</a>
                    {% else %}
                        <a href="/q?feeds={{ feed.pk }}">{{ feed.name }}</a>
                    {% endif %}
                {% endfor %}
            {% endif %}
            {% if i.tags.all %}<span class="spacer">|</span>
                {% for tag in i.tags.all|dictsort:"name" %}
                    {% ifequal tag i.tags.all|dictsort:"name"|first %}{% else %}, {% endifequal %}
                    <a href="/q?tags={{ tag.name }}">{{ tag.name }}</a>
                {% endfor %}
            {% endif %}
            {% if i.reports.all %}
                {% for report in i.reports.all %}{% if report.name == 'Weekly Reads' %}<span class="spacer">|</span><a href="/q?report={{ report.name }}" class="label label-info">WR</a>{% endif %}{% endfor %}
            {% endif %}

        {% if auth == True %}
            <section class="ar_tools" id="article_tools_{{ i.pk }}">
                <a class="modal_view" data-target="#modal_content" data-toggle="modal" href="#" data-dbk="{{ i.pk }}" data-url="/edit/resource/">
                    <i class="icon-edit"></i>
                </a>
            </section>
        {% endif %}

        </section>

    </article>

</div>
