{% for i in results %}
        <div id="ar_{{ i.pk }}" class="row feed_item">
        {% include '/main/article_short.html' %}
        </div>
    {% endfor %}

        <div class="row span12" style="text-align:center;">
            {% if next_offset %}
            <span class="eb"><button class="btn btn-primary show_more" data-query="q/ajax/?{% if tag %}tag={{ tag }}&{% endif %}s={{ next_offset }}"> Show More </button></span>
            {% else %}
            <strong>------ END -----</strong> {% endif %}
        </div>