<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 id="myModalLabel" style="margin-bottom: 0px"><a href="{{ rec.link }}">{{ rec.title|e }}</a></h4>
    <div style="text-align: right">added {{ rec.date.strftime('%d %b %y') }} by {% for feed in rec.feeds.all() %}{% if loop.index > 1 %}, {% endif %}{{ feed.owner|e }}{% endfor %}</div>
</div>

<div class="modal-body">
{{ rec.content_html }}
</div>

<div class="modal-footer">
</div>