<div id="sidebar" class="well hidden-phone" style="max-width: 340px; padding: 8px 0;" >
<ul class="nav nav-list">
    <li class="nav-header">Feeds</li>
    {% for fn in feed_navs %}
    <li {% if get_query == fn[0] %}class="active"{% endif %}>
        <a href="/?{{ fn[0] }}">
           {{ fn[1] }}
        </a>
    </li>
    {% endfor %}
    <li class="nav-header">Tools</li>
    <li {% if nav == 'esil' %}class="active"{% endif %}>
        <a href="/esil">  
           ESIL
        </a>
    </li>
    <li {% if advanced_search == True %}class="active"{% endif %}>
        <a class="modal_view" data-target="#modal_content" data-toggle="modal" href="#" data-url="/filter" data-dbk="">
            Advanced Search
        </a>
    </li>

    <li {% if nav == 'admin' %}class="active"{% endif %}>
        <a href="/admin">
           Admin Console
        </a>
    </li>
</ul>
<div class="span2">
</div>
</div>












