

    <ul id="sidebar" class="nav nav-list well hidden-phone">
        <li class="nav-header">My Account</li>
        <li {% if nav == 'profile' %}class="active"{% endif %}><a href="/profile">Profile</a></li>
        <li><a href="/profile/post_it_button">Post It Button</a></li>


        <li class="nav-header">Feeds</li>
        {% for fn in feed_navs %}
        <li {% if get_query == fn[0] %}class="active"{% endif %}>
            <a href="/?{{ fn[0] }}">
               {{ fn[1] }}
            </a>
        </li>
        {% endfor %}


        <li class="nav-header">Tools</li>
        <li {% if nav == 'esil' %}class="active"{% endif %}>
            <a href="/esil">
               ESIL
            </a>
        </li>
        <li {% if advanced_search == True %}class="active"{% endif %}>
            <a class="modal_view" data-target="#modal_content" data-toggle="modal" href="#" data-url="/filter" data-dbk="">
                Advanced Search
            </a>
        </li>
    </ul>














