You’ve been invited to sign up for FeedStrap a collaborative web service offered by the Strategic Studies Group, Department of Veterans Affairs.   FeedStrap is instrumental in VA’s corporate environmental scanning process, allowing our analysts to save and tag articles and better track emerging issues over time.    Our completed analysis papers can be found under the Emerging Strategic Issues List (ESIL)

To get your own account, fill out the signup form, here: http://feedstrap.vacloud.us/signup/{{ url_secret }}

Once you create an account,  please feel free to explore the database, comment on papers or even post articles yourself using the “Post It Button”



For more information, contact…
Matt Halbe
matt.halbe@va.gov
202.461.5784 office
202.664.2558 mobile
