{% extends "/main/home.html" %}
{% block head %}
    {{ super() }}
    <style>
    a.bookmarklet {
        background: none repeat scroll 0 0 #FFFFEE;
        border: 1px dotted #AAAAAA;
        color: #444444;
        font-size: 90%;
        padding: 1px 2px 0;
    }

    </style>
{% endblock %}
{% block content_header %}{% endblock %}
{% block title %}Account Info{% endblock %}
{% block content_view %}

<div class="row-fluid">
    <div class="span12">
        <table><tr><td><h2>Profile</h2></td><td>(<a href="/account/edit">edit</a>)</td></tr></table>
            <p>
                <table>
                <tr><td style="width: 100px;"><strong>User Name:</strong></td><td>{{ user.username }}</td></tr>
                <tr><td><strong>Password:</strong></td><td>****** (<a href="/account/change_password">change</a>)</td></tr>
                <tr><td><strong>First Name:</strong></td><td>{{ user.first_name }}</td></tr>
                <tr><td><strong>Last Name:</strong></td><td>{{ user.last_name }}</td></tr>
                <tr><td><strong>Email:</strong></td><td>{{ user.email }}</td></tr>
                </table>
            </p>
        <h2>Post It Button</h2>
            <p>
                <!--<a class="bookmarklet" href="javascript:function fssave(){var d=document,z=d.createElement('scr'+'ipt'),b=d.body,l=d.location,t=d.title;if(document.getSelection)s=document.getSelection();else s='';try{if(!b)throw 0;z.setAttribute('src',l.protocol+'//feedstrap.vacloud.us/add_simple?l='+encodeURIComponent(l.href)+'&d='+encodeURIComponent(s)+'&t='+encodeURIComponent(t));b.appendChild(z)}catch(e){alert('Please wait until the page has loaded.')}}fssave();void 0;">-->
                <!--  Post It Button-->
                <!--</a> -->           
                <a class="bookmarklet" href="javascript:var d=document,l=d.location,t=d.title,s='';if(d.getSelection)s=d.getSelection();else s='';void(open('https://feedstrap.vacloud.us/add_new?l='+encodeURIComponent(l)+'&d='+encodeURIComponent(s)+'&t='+encodeURIComponent(t)))">
                  Post It Button
                </a> <br><br>

            </p>

    </div>
</div>

{% endblock %}



