<style>
  
  .db_rec label {font-weight:bold;}
  .db_rec input  {text-align: left;}
  .db_rec textarea {text-align: left; height:150px; width:680px}
  
</style>
 <script>
var all_tags = [{% for t in all_tags %}{% ifequal t all_tags|first %}{% else %}, {% endifequal %}"{{ t.name }}"{% endfor %}];
$(function() {
 function split( val ) {
return val.split( /,\s*/ );
}
function extractLast( term ) {
return split( term ).pop();
}
$( "#tags" )
// don't navigate away from the field on tab when selecting an item
.bind( "keydown", function( event ) {
if ( event.keyCode === $.ui.keyCode.TAB &&
$( this ).data( "ui-autocomplete" ).menu.active ) {
event.preventDefault();
}
})
.autocomplete({
minLength: 0,
source: function( request, response ) {
// delegate back to autocomplete, but extract the last term
response( $.ui.autocomplete.filter(
all_tags, extractLast( request.term ) ) );
},
focus: function() {
// prevent value inserted on focus
return false;
},
select: function( event, ui ) {
var terms = split( this.value );
// remove the current input
terms.pop();
// add the selected item
terms.push( ui.item.value );
// add placeholder to get the comma-and-space at the end
// terms.push( "" );
 this.value = terms.join( ", " );
return false;
}
});
});
</script>

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 id="myModalLabel" style="margin-bottom: 0px"><a href="{{ rec.link }}" target="_blank">{{ rec.title }}</a></h4>
    <div style="text-align: right">
    added {{ rec.date |date:'d b y' | title }} by 
    {% for feed in rec.feeds.all %}

    {% ifequal feed rec.feeds.all|first %}{% else %}, {% endifequal %}
        {% if feed.user.first_name %}
            {{ feed.user.first_name }}
        {% else %}
            {{ feed.name }}
        {% endif %}
    {% endfor %}
                    
    </div>
</div>

<div class="modal-body">
    <form id="popup_form" class="db_rec" action="a/edit/resource" method="POST">
      <input id="csrf" type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}"/>

      <input type="hidden" name="pk" value="{{ rec.pk }}" />
      
      <label for="title">Title:</label> <input id="title" name="title" type="text" class="input-xxlarge" value="{{ rec.title }}"></input><br>

      <label for="description">Description:</label><textarea style="min-height: 50px" id="description" name="description">{% if rec.description %}{{ rec.description }}{%  endif  %}</textarea>

      <label for="relevance">Relevance:</label><textarea style="min-height: 50px" id="relevance" name="relevance">{% if rec.relevance %}{{ rec.relevance  }}{%  endif  %}</textarea>

      <div>
          <div style="float: right; text-align: left; margin-right: 10%;">
            <label for="tags">Tags:</label>
            <input id="tags" name="tags" type="text" class="input-xlarge"  class="ui-autocomplete2 tag_selector"{% if rec.tags.all %}value="{% for t in rec.tags.all|dictsort:"name" %}{% ifequal t rec.tags.all|dictsort:"name"|first %}{% else %}, {% endifequal %}{{ t.name }}{% endfor %}"{% endif %}></input>
          </div>
          <label for="topics">ESIL:</label>
            <select multiple="multiple" id="topics" name="topics">
                <option value=""></option>
                {% for t in topics|dictsort:"name" %}<option value="{{ t.pk }}"{% if t in rec.topics.all %} selected="selected"{% endif %}>{{ t.name }}</option>{% endfor %}
            </select>
        </div>

<table style="width:90%">
<tr style="text-align:right">
<td style="text-align:left"><a href="/admin/feedstrap/resource/{{ rec.pk }}/">more...</a></td>
<td stlye="margin-right:2em; width:95%">Include in Weekly Reads Report? <input id="wrcheck" name="weekly_reads" type='checkbox' {% if 1 in rec.all_reports %} checked{% endif %}></td>
</tr>
</table>
        
    </form>
</div>

<div class="modal-footer">
    <span style="float:left"><a href="#" class="delete" data-l="{{ rec.link }}" data-k="{{ rec.pk }}"><i class="icon-trash"></i></a></span>
    <button id="save_btn" class="btn">Save</button>
    <div id="save_status" style="text-align:right"></div>
</div>
