{% if filter_count > 1 %}
<tr style="text-align: center">
    <td colspan="2">
        <input style="margin: 10px 10px 10px 0" class="primary_filter" name="{{ filter_count }}_andor" type="radio" value="AND" checked="checked">AND</input>
        <input style="margin: 10px 10px 10px 30px;" class="primary_filter" name="{{ filter_count }}_andor" type="radio" value="OR">OR</input>
    </td>
</tr>
{% endif %}
<tr id="f{% if filter_count %}{{ filter_count }}{% else %}1{% endif %}" class="af_row">
    <td>
        <select class="field_selector" name="field" data-filter_count="{% if filter_count %}{{ filter_count }}{% else %}1{% endif %}">
        {% for af in advanced_form %}
            <option value="{{ af.name }}">{{ af.name }}</option>
        {% endfor %}
        </select>
    </td>
    <td id="{% if filter_count %}{{ filter_count }}{% else %}1{% endif %}_value">
        <input class="primary_filter" id="fe{% if filter_count %}{{ filter_count }}{% else %}1{% endif %}" name="{% if filter_count %}{{ filter_count }}{% else %}1{% endif %}_tags" type="text">
    </td>
</tr>

