{% extends 'main/modal.html' %}

{% block modal_id %}advanced_search_modal{% endblock %}
{% block modal_title %}Advanced Search{% endblock %}
{% block modal_body %}

    <form id="advanced_search_form" action="/q" method="GET">
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}"/>
        <table id="advanced_search" align="center">
            <tr>
                <td style="width:50%; text-align:center"><strong>Field</strong></td>
                <td style="width:50%; text-align:center"><strong>Value</strong></td>
            </tr>
            {% include "main/forms/filter_row.html" %}
            <tbody id="additional_perams"></tbody>
        </table>
    </form>
{% endblock %}

{% block modal_footer %}
    <button style="float:left" onclick="$('#additional_perams').html('');document.getElementById('advanced_search_form').reset()">Reset</button>
    <button id="add_new_filter"><i class="icon-plus"></i></button>
    <button id="submit_advanced_filter">Submit</button>
{% endblock %}

         

    
