{% extends "/main/base.html" %}
{% block head %}
{{ super() }}
<style>
  .db_rec label {font-weight:bold;}
  .tarea {text-align: left; width:95%}
  body {padding-top: 0 !important;}
  .modal-body {
      width: 99%;
      max-height: 650px;
      height: 650px;
  }
</style>

 <script type="text/javascript">
var all_tags = [{% for t in all_tags %}{% if loop.index > 1 %},{% endif %}"{{ t.name }}"{% endfor %}];
$(function() {
 function split( val ) {
return val.split( /,\s*/ );
}
function extractLast( term ) {
return split( term ).pop();
}
$( "#tags" )
// don't navigate away from the field on tab when selecting an item
.bind( "keydown", function( event ) {
if ( event.keyCode === $.ui.keyCode.TAB &&
$( this ).data( "ui-autocomplete" ).menu.active ) {
event.preventDefault();
}
})
.autocomplete({
minLength: 0,
source: function( request, response ) {
// delegate back to autocomplete, but extract the last term
response( $.ui.autocomplete.filter(
all_tags, extractLast( request.term ) ) );
},
focus: function() {
// prevent value inserted on focus
return false;
},
select: function( event, ui ) {
var terms = split( this.value );
// remove the current input
terms.pop();
// add the selected item
terms.push( ui.item.value );
// add placeholder to get the comma-and-space at the end
// terms.push( "" );
 this.value = terms.join( ", " );
return false;
}
});
});
</script>
{% endblock %}

{% block content_box %}
<div class="row-fluid">
    <div class="span12">
        <div class="modal-body">
            <h3><a href="/">Post It to FeedStrap</a></h3>
            <form id="popup_form" class="db_rec" action="add_new" method="POST">
              <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}"/>
              <label for="title">Link:</label> <input class="input-xlarge" id="link" name="link" type="text" value="{{ rec.link|e }}"></input><br>
              <label for="title">Title:</label> <input class="input-xlarge" id="title" name="title" type="text" value="{{ rec.title|e }}"></input><br>


              <label for="description">Description:</label><textarea class="tarea" id="description" name="description">{% if rec.description %}{{ rec.description|e }}{%  endif  %}</textarea>

              <label for="relevance">Relevance:</label><textarea class="tarea" id="relevance" name="relevance">{% if rec.relevance %}{{ rec.relevance|e  }}{%  endif  %}</textarea>


                  <div style="float: right; text-align: left; margin-right: 10%;">
                  <label for="tags">Tags:</label><input id="tags" name="tags" type="text" class="input"  class="ui-autocomplete2 tag_selector"></input>
                  </div>

                  <label for="topics">ESIL:</label>
                    <select multiple="multiple" id="topics" name="topics">
                        <option value=""></option>
                        {% for t in topics %}<option value="{{ t.pk }}">{{ t.name|e }}</option>{% endfor %}
                    </select>



                <div style="float: right">
                <span style="vertical-align: middle; margin-right:10px; white-space: nowrap">Include in Weekly Reads Report?  <input id="wrcheck" name="weekly_reads" type='checkbox' {% if 1 in rec.all_reports %} checked{% endif %}></span>
                   <br>
                   <br>
                <button id="save_btn" class="btn" style="text-align:right; float: right">Save</button>
                <div id="save_status" style="text-align:right"></div>

                </div>

            </form>


        </div>
    </div>
</div>

{% endblock %}
