.javascript_link:hover {text-decoration:underline; color:3399FF; cursor:pointer;}
.javascript_link:active {text-decoration:underline;}
#my_nav {
      padding-left:2px;
      padding-right:2px;
      max-height: 50px;
  }
#content_header {
    margin-top:80px;
    margin-bottom:10px;
  }
#content_view {
    min-height: 400px;
    margin-bottom: 50px;
}

.footer {
    margin-top:50px;
    margin-bottom:5px;
    text-align:center;
}

.view_btn { margin:2px; }
.show_more{
    padding:5px;
}


.row_selected { background:lightyellow}
#results_table_body .ui-selecting { background: #FECA40; }
#results_table_body .ui-selected { background: #F39814; color: white; }

.xbox_area { 
    margin-right: 5px;
    margin-left: 5px;
}

.xtag:hover {text-decoration:none; color:white; cursor:pointer;}
.xtag:active {text-decoration:none;}
.xtag {
    color: white;
    margin-right: 0px;
    margin-left: 10px;
    font-size: 1em;
}

.filter_tag {
    /*background-color: #999999;*/
    line-height: 1.5em;
    color: #FFFFFF;
    display: inline-block;
    font-size: 11.844px;
    font-weight: bold;
    padding: 2px 4px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    vertical-align: baseline;
    white-space: nowrap;
    border-radius: 3px 3px 3px 3px;
}



.field_drag:hover {cursor:move;}

.ar {
    margin-bottom: 20px;
    /*margin-top: 15px;*/
    padding-bottom:10px;
    /*border: dotted grey 1px;*/
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}
.ar_snippet em{
    background-color: lightyellow;
}
.ar_clip {
    padding: 10px 10px 0px 20px;
}
.ar_tools {
    display:none;
}
.ar_details {
    padding: 0px 10px 10px 20px;
    margin-bottom:5px;
}
.spacer {
    margin-left:15px;
    margin-right:15px;
}


.xwide {
    width:440px;
}
.wide {
    width:200px;
}
.bulk_inline {
    margin-left: 5px;
}

    
    
    
